.pan-header{
		-moz-box-shadow: none;
    	-webkit-box-shadow: none;
		box-shadow: none;
	}

	.learn_smlw_c_item:nth-child(4n){
		margin-right:0;
	}

	.learn_search_movie_line{
		padding-top:5px;
	}

	.learn_smlw_c_item{
		margin-bottom:27px;
	}
	.learn_search_movie_line{
		padding-bottom:0px;
	}
	
	a.learn_smlw_cit_bg_green{
		background: #9999cc;
		color:white;
	}

	a.learn_smlw_cit_bg_red{
		background: #cc9999;
		color:white;
	}

	a.learn_smlw_cit_bg_orange{
		background: #99cccc;
		color:white;
	}
	.learn_line2{
		width: 740px;
		margin-left: auto;
		margin-right: auto;
		/*border:1px solid red;*/
		
	}
	.learn_line3{
		width: 100%;
		border-top:1px solid #eeeeee;
	}

	
	.t_title{
		font-size: 19px;
		font-weight: bold;
		color:#333333;

	}
	.pie{
		margin-left: 5px;
		margin-right: 5px;
	}
	.learn_search_wirwl_loadmore span{
		font-size: 13px;
		padding: 10px 20px;
		border-radius: 8px;
	}
	.learn_search_wirwl_loadmore span img{
		width: 10px;
		margin-left: 3px;
	}
	.t_learn_date{
		position: absolute;
		top:20px;
		right:30px;
		font-size: 14px;
	}
	.learn_swli_play_icon{
		display: none;
	}